@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300&display=swap");

.secondary-submit-btn {
  background-color: royalblue;
  width: 30%;
  font-family: "Raleway";
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 4px;
}

.primary-submit-btn {
  background-color: coral;
  width: 20%;
  margin-top: 1px;
  padding: 2px;
  font-family: "Raleway";
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 4px;
}

.form-label { 
  font-size: 27px;

}




span override {
  font-size: 140px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 4fr;
}


.input-weight {
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#containernm {
  background-color: white;
}

#upload-manifest {
  font-family: inherit;
  display: inline-block;
}
#instruction { 
  font-family: 'Raleway'; 
  font-weight: bolder; 
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fed;
  border-color: #fed transparent #fed transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.instruction-box { 
  font-family: 'Raleway', Arial, Helvetica;
  text-align: center;
}

.btn-grp { 
  margin: 1em; 
}

.input-txt {
  background-color: black;
  display: fill;
}
