.dock-view-container { 
    background-color: cornflowerblue;
    padding: 2em; 
    border: 2px solid cornflowerblue; 
    border-radius: 7px;
    margin: 2em; 
    display: flex;
    justify-content: center;
    flex-direction: column;

}



.ship { 
    display: grid; 
    justify-self: center;
    grid-template-rows: repeat(9, minmax(20px, 13%)); 
    grid-template-columns: repeat(12, 1fr);
    font: 12px Arial black; 
    position: relative;
    text-align: center; 
    border: 40px black; 
    border-radius: 4px;
    border: 4px solid black;
    margin: 4em; 
    overflow: hidden; 
    min-height: inherit; 
    background-color: white;

}

.grid-header { 
    grid-column: 1 / span 12;
    color: black; 
    border: 1px black; 
}

.buffer-header { 
    grid-column: 1 / span 24; 
    color: black; 
}


.buffer {
    display: grid; 
    justify-self: center;
    grid-template-rows: repeat(5, minmax(20px, 1fr)); 
    grid-template-columns: repeat(24, minmax(20px, 1fr));
    font: 11px Arial black; 
    position: relative;
    text-align: center; 
    border: 4px solid black;
    border-radius: 4px;
    margin: 0.5em; 
    text-overflow: ellipsis;
    overflow: hidden; 
    min-height: inherit; 
    background-color: white;
}

.nan-grid {
    background-color: black; 
    font: 1em Arial; 
    padding: 1px; 
    height: 100%; 
    width: 100%; 
    text-overflow: clip;
    text-align: center;
    font-weight: bold; 
    border: 1px solid black;
}

.undefined-grid {
    font: 1em Arial; 
    font-weight: bold;
    padding: 1px; 
    text-overflow: clip;
    background-color:white; 
    height: 100%; 
    width: 100%; 
    text-align: center;
    border: 1px solid black; 
}

.item-grid {
    font: 1em Arial; 
    font-weight: bold; 
    height: 100%; 
    width: 100%; 
    text-overflow: clip;
    padding: 1px; 
    background-color: greenyellow; 
    border: 1px solid black; 
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover { 
    color: blueviolet; 
    cursor: pointer; 
}