@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300&display=swap");

.table-styling { 
    width: 50%; 
    height: 100%; 
    background-color: #94D2BD;
    margin-left: auto;
    margin-right: auto; 
    font-weight: bolder;
    font-family: 'Raleway'; 
    text-align: center; 
    border: 4px solid #EE9B00;
    border-radius: 5px; 
}

th {
    color: #E9D8A6;  
    padding: 3x; 
    font-size: large;
    text-shadow: 2px 0.5px black;
    background-color: #9B2226; 
}


p1 { 
    font-family: 'Raleway'; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
    text-align: center; 
}

img:hover { 
    background-color: #94D2BD; 
}
