@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300&display=swap");

.table-styling { 
    width: 50%; 
    height: 100%; 
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Raleway'; 
    text-align: center; 
    border: 4px solid black;
    border-radius: 5px; 
}

th {
    color: pink; 
    background-color: black;
}


p1 { 
    font-family: 'Raleway'; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
    text-align: center; 
}

img:hover { 
    background-color: pink; 
}
